[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
pymysql = "*"
grpcio = "*"
grpcio-tools = "*"
cryptography = "*"
loguru = "*"
passlib = "*"
python-consul2 = "*"
protobuf = "==3.20"

[dev-packages]

[requires]
python_version = "3.10"
